@{
    ViewBag.Title = "Home Page";
}

<h1>Tweets : </h1>

<div>
    @for (var i = 0; i < 6; i++)
    {
        foreach (dynamic item in ViewBag.TweetsCategorized.getListTweetFromCategory(i))
        {
            <div class="overlay">
                <div class="overlaycontent">
                    <img src=@item.getImageURL()> <br /> <h4>@item.getUserName() <br /> @item.getCategory() L : @item.getLatitude() L : @item.getLongitude()</h4>
                    <h3>@item.getText()</h3>
                    <h3>@item.getCategory()</h3>
                    @{
                        String onclick = String.Format("showCoordinate({0}, {1})",
                            item.getLatitude(), item.getLongitude());
                    }
                    @if (item.getLatitude() != 0 && item.getLongitude() != 0)
                    {
                        <input type="button" class="btn btnstyle btn-5a icon-arrow-right" value=" see location" onclick="@onclick" />
                    }
                    else
                    {
                        <input type="button" class="btn btnstyle btn-5a icon-arrow-right" value=" location is not available" disabled/>
                    }
                </div>
            </div>
        }
    }
</div>

<script>
    (function ($) {
        $.fn.goTo = function () {
            $('html, body').animate({
                scrollTop: $(this).offset().top + 'px'
            }, 'fast');
            return this; // for chaining...
        }
    })(jQuery);
    function showCoordinate(a, b) {
        $('#googlemap').goTo();
        $('#googlemap').gmap3({ action: 'setCenter', args: [new google.maps.LatLng(a, b)] });
        $("#googlemap").gmap3({
            action: 'addMarkers',
            markers: [{ lat: a, lng: b, data: 'Derby County Football Club' }],
        });
    }
</script>