@model Tubes3.Controllers.UserInput
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(o => o.keywords)
    @Html.TextBoxFor(o => o.keywords)<br /><br />
    @Html.LabelFor(o => o.dinas1)
    @Html.TextBoxFor(o => o.dinas1)<br />
    @Html.LabelFor(o => o.dinas2)
    @Html.TextBoxFor(o => o.dinas2)<br />
    @Html.LabelFor(o => o.dinas3)
    @Html.TextBoxFor(o => o.dinas3)<br />
    @Html.LabelFor(o => o.dinas4)
    @Html.TextBoxFor(o => o.dinas4)<br />
    @Html.LabelFor(o => o.dinas5)
    @Html.TextBoxFor(o => o.dinas5)<br />
    @Html.LabelFor(o => o.choice)
    @Html.TextBoxFor(o => o.choice)<br />

    <input type="submit" value="Submit" />
}