@model Tubes3.Controllers.UserInput
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<h4>@ViewBag.Message</h4>

<div>
    <p>@Model.keywords</p>
    <p>@Model.dinas1</p>
    <p>@Model.dinas2</p>
    <p>@Model.dinas3</p>
    <p>@Model.dinas4</p>
    <p>@Model.dinas5</p>
    <p>@Model.choice</p>
</div>

